@import '../../../styles.scss';

.main-section{    
    background-color: #fafafa;
    border-radius: 10px;
    padding: 2rem 3rem;
}
.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.url-title{
    font-family: $bold-font-family;
    color: $text-color-light-background;
    font-size: 3rem;
}
.url-last-log{
    font-family: $regular-font-family;
    font-style: italic;
}
.url-url{
    font-family: $bold-font-family;
    font-size: 1rem;
    color: grey;
    text-transform: uppercase;
}
.url-method{
    font-family: $bold-font-family;
    font-size: 1rem;
    color: $primary;
    text-transform: uppercase;
}

.url-method-body{
    font-family: $regular-font-family;
    font-size: 1rem;
    color: $text-color-light-background;
}

.sub-title{
    font-family: $bold-font-family;
    font-size: 1.75rem;
    color: $text-color-light-background;
}

.method-params{
    margin-top: 1.25rem;
}

// copied from dashboard.css
.checked {
    color: #FFD700;
}

.scrollable-logs {
    max-height: 175px;
    overflow-y: scroll;
}

.logs-section {
    margin-top: 1.5rem;
}

.logs-section-topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logs-title {
    font-family: $bold-font-family;
    font-size: 1.75rem;
    color: $text-color-light-background;
    margin-bottom: 1rem;
}

.log {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.75rem 0rem;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

}

.log:first-of-type {
    margin-top: 0rem !important;
}

.log-right {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.log-status {
    font-family: $bold-font-family;
    font-size: 1rem;
}

.log-status-1 {
    color: gray;
}

.log-status-2{
    color: #4BB543;
}

.log-status-3 {
    color: #0881a3;
}

.log-status-4 {
    color: #ea9215;
}

.log-status-5 {
    color: #cf3333;
}

.log-text {
    font-family: $medium-font-family;
    color: $text-color-light-background;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.log-date {
    font-family: $regular-font-family;
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
}

.url-edit {
    color: $primary;
    font-family: $bold-font-family;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }

}

.modal-url {
    font-family: $medium-font-family;
    font-size: 0.9rem;
    color: gray;
    text-transform: uppercase;
}

.modal-log-info-item {
    font-family: $medium-font-family;
    font-size: 1rem;
    color: $text-color-light-background;
}

.modal-log-status-value {
    font-family: $medium-font-family;
    font-size: 1rem;
    color: $text-color-light-background;
}

.modal-log-info-item-value{
    font-family: $regular-font-family;
    font-size: 1rem;
    color: $text-color-light-background;
}

.modal-date {
    font-family: $regular-font-family;
    font-size: 1rem;
    color: black;
}

.modal-method{
    font-family: $bold-font-family;
    font-size: 1rem;
    color: $primary;
    text-transform: uppercase;
}
