<div class="page">
    <div class="centered-content">
        <div class="modal-box">
            <p class="modal-title">Signup</p>
            <div class="modal-input">
                <input type="text" placeholder="username:" #username />
                <input type="email" placeholder="email:" #email/>
                <input type="password" placeholder="password:" #password/>
            </div>
            <div class="modal-bottom">
                <button class="action-button button" id="submit-button" (click)="onSignupButtonClicked(username.value, email.value, password.value)">Submit</button>
                <p class="modal-bottom-link" [routerLink]="['/login']">Go to Login</p>
            </div>
        </div>
    </div>
</div>
