<div class="page">
    <div class="centered-content">
        <div class="modal-box">
            <p class="modal-title">Login</p>
            <div class="modal-input">
                <input type="email" placeholder="email:" #email />
                <input type="password" placeholder="password:" #password />
            </div>
            <div class="modal-bottom">
                <button class="action-button button">Submit</button>
                <p class="modal-bottom-link" [routerLink]="['/signup']">Go to Signup</p>
            </div>
        </div>
    </div>
</div>