<div class="navbar" *ngIf="showNavbar">
    <div class="navbar-topbar">
        <i class="material-icons navbar-icon navbar-menu-icon" (click)="showDropdown = !showDropdown">menu</i>
        <p class="navbar-logo">Orphic</p>
        <i class="material-icons navbar-icon navbar-profile-icon">account_circle</i>
    </div>
    <div class="navbar-dropdown" *ngIf="showDropdown">
        <p class="navbar-dropdown-item" [ngClass]="{'active-item' : selectedComponent == 'home'}" (click)="openComponent('home')">Home</p>
        <p class="navbar-dropdown-item" [ngClass]="{'active-item' : selectedComponent == 'about-us'}" (click)="openComponent('about-us')">About us</p>
    </div>
</div>
<router-outlet></router-outlet>