@import '../../../styles.scss';

.min-section {
    margin: 2rem 0rem;
}

.min-section-title {
    font-family: $medium-font-family;
    font-size: 0.9rem;
    color: gray;
    text-transform: uppercase;
}

:host::ng-deep .add-url-input {
    padding: 0.75rem;
    border: 1px solid #e7e7e7;
    font-family: $regular-font-family;
    font-size: 1rem;
    margin-top: 0.5rem;
    min-width: 300px;

    &:focus {
        outline: none;
    }

}

:host::ng-deep .min-section-double-input{
    margin: 1rem 0rem;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;

    input {
        margin-right: 1rem;
        margin-top: 0rem !important;
    }
}

.add-url-textarea {
    min-width: calc(600px + 1rem);
    height: 200px;
}

.primary-text {
    font-family: $medium-font-family;
    font-size: 1rem;
    color: $primary;
    margin: 0.5rem 0rem;

    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
    
}