/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

@font-face {
    font-family: 'Metropolis Regular';
    src: url('/assets/fonts/Metropolis/Metropolis-Regular.otf');
}

@font-face {
    font-family: 'Metropolis SemiBold';
    src: url('/assets/fonts/Metropolis/Metropolis-SemiBold.otf');
}

@font-face {
    font-family: 'Metropolis Bold';
    src: url('/assets/fonts/Metropolis/Metropolis-Bold.otf');
}

$primary: #29a19c;
$secondary: #a3f7bf;
$text-color-dark-background: white;
$text-color-light-background: black;
$bold-font-family: 'Metropolis Bold', sans-serif;
$regular-font-family: 'Metropolis Regular', sans-serif;
$medium-font-family: 'Metropolis SemiBold', sans-serif;

.action-button {
    border-radius: 3px;
    border: none;
    background-color: $primary;
    font-family: $bold-font-family;
    font-size: 1rem;
    padding: 0.25rem 1.5rem;
    color: $text-color-dark-background;

    &:hover {
        cursor: pointer;
        color: $text-color-dark-background;
    }
    
    &:focus {
        color: $text-color-dark-background;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #777;
    border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}