<div class="page">
    <div class="modal is-active" id="log-modal" *ngIf="showLogModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-section">
                <i class="material-icons close-button" (click)="closeLogModal()">cancel</i>
                <p class="modal-title">Log</p>
            </div>
            <div class="modal-contents">
                <p class="modal-url">{{openedLog.url}} <span class="modal-method"> {{openedLog.method}} </span></p>
                <p class="modal-date">{{openedLog.dateAndTime}}</p>
                <p class="modal-time-to-complete">{{openedLog.timeToComplete}}</p>
                <div class="modal-log-info">
                    <p class="modal-log-info-item">Status code: <span class="modal-log-status-value" [ngClass]="{'log-status-1' : openedLog.status.toString()[0] == 1,
                        'log-status-2' : openedLog.status.toString()[0] == 2,
                        'log-status-3' : openedLog.status.toString()[0] == 3,
                        'log-status-4' : openedLog.status.toString()[0] == 4,
                        'log-status-5' : openedLog.status.toString()[0] == 5}">{{openedLog.status}} {{statusCodeTexts.get(openedLog.status)}}</span></p>
                    <p class="modal-log-info-item">Response: <span class="modal-log-info-item-value">{{openedLog.text}}</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-section">
        <p class="main-section-title">Dashboard</p>
        <div class="main-section-contents">
            <div class="columns">
                <div class="column is-5 url" *ngFor="let url of urls">
                    <div class="url-topbar">
                        <div class="url-topbar-left">
                            <div class="url-favicon" *ngIf="url.favicon == ''" style="background-image: url('../../../assets/3408012.jpg');"></div>
                            <div class="url-favicon" *ngIf="url.favicon != ''" style="background-image: url('../../../assets/{{url.favicon}}');"></div>
                            <div class="url-info">
                                <p class="url-title">{{url.title}}</p>
                                <p class="url-url">{{url.url}}</p>
                                <p class="url-method">{{url.method}}</p>
                            </div>
                        </div>
                        <div class="url-topbar-right">
                            <i class="fas fa-star url-star" [ngClass]="{'checked' : url.favorites}"></i>
                            <p class="url-edit">Edit</p>
                        </div>
                    </div>
                    <div class="logs-section">
                        <div class="logs-section-topbar">
                            <p class="logs-title">Logs</p>
                            <p class="url-period">{{url.period}}</p>
                        </div>
                        <p class="description" *ngIf="url.logs.length == 0">No logs to preview yet.</p>
                        <div class="logs"  *ngIf="url.logs.length > 0" [ngClass]="{'scrollable-logs' : url.logs.length > 3}">
                            <div class="log" *ngFor="let log of url.logs" id="{{log.Id}}" (click)="openLogModal(logEl.id)" #logEl>
                                <div class="log-right">
                                    <p class="log-status" [ngClass]="{'log-status-1' : log.status.toString()[0] == 1,
                                                                      'log-status-2' : log.status.toString()[0] == 2,
                                                                      'log-status-3' : log.status.toString()[0] == 3,
                                                                      'log-status-4' : log.status.toString()[0] == 4,
                                                                      'log-status-5' : log.status.toString()[0] == 5}">{{log.status}}</p>
                                    <p class="log-text">{{log.text}}</p>
                                </div>
                                <p class="log-date">{{log.dateAndTime}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>